<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />// -->
    <!-- <script src="main.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="login">
            <div class="heading">
              <h2>Sign in</h2>
              <form action="#">
          
                <div>
                  <span></i></span>
                  <input type="text"placeholder="name" name="name" v-model=input.name>
                    </div>
          
                  <div>
                    <span></span>
                    <input type="text" placeholder="email" name="email" v-model=input.email>
                  </div>
          
                  <button v-on:click="submitLogin()">Login</button>
                 </form>
                </div>
           </div>
    </div>
      <script>
          const app = new Vue({
              el: "#app",
              data: {
                  input: {
                      name:"arief",
                      email: "awfawf"
                  }
              },
              methods: {
                  submitLogin(){
                      console.log('submit')
                    //   console.log(input.name)
                      let user = {
                          name: this.input.name,
                          email: this.input.email,
                      }
                      axios.post('http://35.197.135.159/request-token',
                        user)
                        .then(user=>{
                            console.log(user.data)
                        })
                  }
              }
          })
      </script>
</body>
</html>